.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*header top, bottom,  right, left*/
.htr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hbl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hbl img {
  grid-row: 1 / 3;
}

.hbr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main {
  background: lightgrey;
}

/*main container*/
.mc {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pc {
  grid-row: 1 / 3;
}

.cc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  background: white;
  border-radius: 8px;
}

.card ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.announcements {
  grid-column: 2 / 3;
}

.trending {
  grid-column: 2 / 3;
}

.sidebar {
  background: dodgerblue;
  color: white;
}

ul {
  list-style-type: none;
}

.bold {
  font-size: 2 em;
}
